{% extends "base.html" %}

{% block content %}

<h1>Add Log</h1>

<form method="POST" class="card">

    <label>Language</label>
    <select name="lang_id" required>
        {% for lang in languages %}
            <option value="{{ lang['id'] }}">{{ lang['name'] }}</option>
        {% endfor %}
    </select>

    <br><br>

    <label>Hours</label>
    <input type="number" step="0.1" name="hours" required>

    <br><br>

    <label>Date</label>
    <input type="date" name="date" required>

    <br><br>

    <label>Notes</label>
    <textarea name="notes" placeholder="What did you practice?"></textarea>

    <br><br>

    <button type="submit">Add Log</button>

</form>

{% endblock %}