{% extends "base.html" %}

{% block content %}

<h1> Topics users are studying:</h1>
{% if current_user.is_authenticated %}
    <p> welcome {{ current_user.username }}</p>
    <ul>
    {% for topic in topics %}
        <li>
            <a href="{{ url_for('get_topic_logs', topic_id=topic.id) }}">
                {{ topic.name }}
            </a>
        </li>
        {% endfor %}
    </ul>

{% else %}
<ul>
    {% for topic in topics %}
    <li>
        {{ topic.name }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}